@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  width: 100dvw;
  color: var(--foreground);
  background: var(--background);
  font-family: "general", sans-serif;
  overflow-x: hidden;
}

@layer base {
  @font-face {
    font-family: "bangers";
    src: url("../fonts/Bangers-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "poppins-regular";
    src: url("../fonts/Poppins-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "poppins-semibold";
    src: url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  }

  @font-face {
    font-family: "poppins-bold";
    src: url("../fonts/Poppins-Bold.woff2") format("woff2");
  }

  @font-face {
    font-family: "SegoeUI-SemiBold";
    src: url("../fonts/SegoeUI-SemiBold.woff2") format("woff2");
  }

  @font-face {
    font-family: "Inter24pt-Regular";
    src: url("../fonts/Inter24pt-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "Inter24pt-Medium";
    src: url("../fonts/Inter24pt-Medium.woff2") format("woff2");
  }

  @font-face {
    font-family: "Inter24pt-SemiBold";
    src: url("../fonts/Inter24pt-SemiBold.woff2") format("woff2");
  }

  @font-face {
    font-family: "Inter24pt-Bold";
    src: url("../fonts/Inter24pt-Bold.woff2") format("woff2");
  }
}

@layer utilities {

  /* .nav-hover-btn {
    @apply relative ms-2 sm:ms-5 xl:ms-10 mb-4 lg:mb-0 font-general text-[0.75rem] xl:text-[0.875rem] leading-normal uppercase text-white after:absolute after:-bottom-0.5 after:left-0 after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-neutral-800 after:transition-transform after:duration-300 after:ease-[cubic-bezier(0.65_0.05_0.36_1)] hover:after:origin-bottom-left hover:after:scale-x-100 dark:after:bg-white cursor-pointer;
  }

  .floating-nav {
    @apply bg-black rounded-lg border h-20;
  } */

  .absolute-center {
    @apply absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%];
  }

  .nav-btn {
    @apply relative font-InterBold text-white text-[1rem] leading-[143%] cursor-pointer;
  }

  .pressKit {
    @apply font-SegoeUISemiBold text-white text-[1rem] leading-[100%];
  }

  .lang {
    @apply font-InterBold text-white text-[1rem] leading-[143%];
  }

  .flex-center {
    @apply flex justify-start items-center;
  }

  .h2-heading {
    @apply uppercase font-bangers leading-[120%] md:leading-[120%] mb-8 tracking-[3px] lg:tracking-[0px];
  }

  .h2-shadow {
    @apply uppercase font-bangers leading-[120%] md:leading-[120%] mb-8 tracking-[0] text-black;
  }

  .h3-heading {
    @apply uppercase font-general leading-[120%] text-[2rem] text-white;
  }

  .h4-heading {
    @apply font-general text-white leading-[147%] text-[1.4rem] lg:text-[1.5rem];
  }

  .regular-text {
    @apply font-general text-white text-[1.125rem] md:text-[1.25rem] leading-normal;
  }

  .copyright {
    @apply font-regular text-white text-[1.25rem] leading-[120%];
  }

  .shadowEffectWrapper {
    display: inline-block;
    position: relative;
  }

  .shadowEffectScreenShots,
  .shadowEffectHowItWorks,
  .shadowEffectMmm,
  .shadowEffectGearUp,
  .shadowEffectOwn,
  .shadowEffect {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    text-shadow:          
    0 -1px 0 #FD9125,       
      /* -6px -3px 0 rgba(0, 0, 0, 1),
      -6px 5px 0 rgba(0, 0, 0, 1), 
      0px 4px 0 rgba(0, 0, 0, 0),
      0 -5px 0 rgba(0, 0, 0, 1),
      3px -2px 0 rgba(0, 0, 0, 1), 
      0px 3px 0 rgba(0, 0, 0, 1); */

      1.5px -1.5px 0 rgb(0, 0, 0),
      3px -3px 0 rgb(0, 0, 0),
      -2px -2px 0 rgb(0, 0, 0),
      -3px -3px 0 rgb(0, 0, 0),
      -3px -3px 0 rgb(0, 0, 0),
      1.5px 0 0 rgb(0, 0, 0),
      1.5px 1.5px 0 rgb(0, 0, 0),
      0 2px 0 rgb(0, 0, 0),
      -1.5px 1.5px 0 rgb(0, 0, 0),
      -1.5px 0 0 rgb(0, 0, 0),
      -1.5px -1.5px 0 rgb(0, 0, 0),
      0 2px 0 rgb(0, 0, 0),
      0 -2px 0 rgb(0, 0, 0),
      0 -3px 0 rgb(0, 0, 0);
  
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline-block;
  }
  .shadowEffectOwn {
    text-shadow:          
    0 -1px 0 #F6C95B,

      1.5px -1.5px 0 rgb(0, 0, 0),
      3px -3px 0 rgb(0, 0, 0),
      -2px -2px 0 rgb(0, 0, 0),
      -3px -3px 0 rgb(0, 0, 0),
      -3px -3px 0 rgb(0, 0, 0),
      1.5px 0 0 rgb(0, 0, 0),
      1.5px 1.5px 0 rgb(0, 0, 0),
      0 2px 0 rgb(0, 0, 0),
      -1.5px 1.5px 0 rgb(0, 0, 0),
      -1.5px 0 0 rgb(0, 0, 0),
      -1.5px -1.5px 0 rgb(0, 0, 0),
      0 2px 0 rgb(0, 0, 0),
      0 -2px 0 rgb(0, 0, 0),
      0 -3px 0 rgb(0, 0, 0);
  }
  .shadowEffectGearUp {
    text-shadow:          
    0 -1px 0 #6CE585,

      1.5px -1.5px 0 rgb(0, 0, 0),
      3px -3px 0 rgb(0, 0, 0),
      -2px -2px 0 rgb(0, 0, 0),
      -3px -3px 0 rgb(0, 0, 0),
      -3px -3px 0 rgb(0, 0, 0),
      1.5px 0 0 rgb(0, 0, 0),
      1.5px 1.5px 0 rgb(0, 0, 0),
      0 2px 0 rgb(0, 0, 0),
      -1.5px 1.5px 0 rgb(0, 0, 0),
      -1.5px 0 0 rgb(0, 0, 0),
      -1.5px -1.5px 0 rgb(0, 0, 0),
      0 2px 0 rgb(0, 0, 0),
      0 -2px 0 rgb(0, 0, 0),
      0 -3px 0 rgb(0, 0, 0);
  }
  .shadowEffectMmm {
    text-shadow:          
    0 -1px 0 #F8C125,

      1.5px -1.5px 0 rgb(0, 0, 0),
      3px -3px 0 rgb(0, 0, 0),
      -2px -2px 0 rgb(0, 0, 0),
      -3px -3px 0 rgb(0, 0, 0),
      -3px -3px 0 rgb(0, 0, 0),
      1.5px 0 0 rgb(0, 0, 0),
      1.5px 1.5px 0 rgb(0, 0, 0),
      0 2px 0 rgb(0, 0, 0),
      -1.5px 1.5px 0 rgb(0, 0, 0),
      -1.5px 0 0 rgb(0, 0, 0),
      -1.5px -1.5px 0 rgb(0, 0, 0),
      0 2px 0 rgb(0, 0, 0),
      0 -2px 0 rgb(0, 0, 0),
      0 -3px 0 rgb(0, 0, 0);
    z-index: -1;
  }
  .shadowEffectHowItWorks {
    text-shadow:          
    0 -1px 0 #fff,       
      -6px -3px 0 rgba(219, 56, 71, 1),
      -6px 5px 0 rgba(219, 56, 71, 1), 
      0px 4px 0 rgba(219, 56, 71, 0),
      0 -5px 0 rgba(219, 56, 71, 1),
      3px -2px 0 rgba(219, 56, 71, 1), 
      0px 3px 0 rgba(219, 56, 71, 1);
  }
  .shadowEffectScreenShots {
    text-shadow:          
    0 -1px 0 #D0CD9A,

      1.5px -1.5px 0 rgb(0, 0, 0),
      3px -3px 0 rgb(0, 0, 0),
      -2px -2px 0 rgb(0, 0, 0),
      -3px -3px 0 rgb(0, 0, 0),
      -3px -3px 0 rgb(0, 0, 0),
      1.5px 0 0 rgb(0, 0, 0),
      1.5px 1.5px 0 rgb(0, 0, 0),
      0 2px 0 rgb(0, 0, 0),
      -1.5px 1.5px 0 rgb(0, 0, 0),
      -1.5px 0 0 rgb(0, 0, 0),
      -1.5px -1.5px 0 rgb(0, 0, 0),
      0 2px 0 rgb(0, 0, 0),
      0 -2px 0 rgb(0, 0, 0),
      0 -3px 0 rgb(0, 0, 0);
  }
  /* .shadowEffectFooter {
    text-shadow:          
    0 -1px 0 #FFF18B,       
      -6px -3px 0 rgba(0, 0, 0, 1),
      -6px 5px 0 rgba(0, 0, 0, 1), 
      0px 4px 0 rgba(0, 0, 0, 0),
      0 -5px 0 rgba(0, 0, 0, 1),
      3px -2px 0 rgba(0, 0, 0, 1), 
      0px 3px 0 rgba(0, 0, 0, 1);
  } */
  .shadowEffectFooter {
    text-shadow: 
    0 -2px 0 #FFF18B, 
    1.5px -1.5px 0 rgb(0, 0, 0),
    3px -3px 0 rgb(0, 0, 0),
    -2px -2px 0 rgb(0, 0, 0),
    -3px -3px 0 rgb(0, 0, 0),
    -3px -3px 0 rgb(0, 0, 0),
    1.5px 0 0 rgb(0, 0, 0),
    1.5px 1.5px 0 rgb(0, 0, 0),
    0 2px 0 rgb(0, 0, 0),
    -1.5px 1.5px 0 rgb(0, 0, 0),
    -1.5px 0 0 rgb(0, 0, 0),
    -1.5px -1.5px 0 rgb(0, 0, 0),
    0 2px 0 rgb(0, 0, 0),
    0 -2px 0 rgb(0, 0, 0),
    0 -3px 0 rgb(0, 0, 0);
  }
  
  

  /* .threeDEffect {
    position: relative;
    z-index: 2;
    text-shadow:          
      0px -1px 0px #FD9125,
      -2px -2px 0 rgba(255, 255, 255, 0.7);
  
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline-block;
  } */

  .animated-title {
    @apply flex flex-col gap-1 text-7xl uppercase leading-normal text-white sm:px-32 md:text-[6rem] sm:leading-normal md:leading-normal;
  }

  .animated-word {
    @apply font-bangers opacity-0;
    transform: translate3d(10px, 51px, -60px) rotateY(60deg) rotateX(-40deg);
    transform-origin: 50% 50% -150px !important;
    will-change: opacity, transform;
  }

  .border-gradient {
    border-image: linear-gradient(0deg, #F7DF11 0%, #FF009D 100%);
    border-image-slice: 1;
  }

  .yellowPink {
    @apply bg-yellowPink-linear bg-clip-text text-transparent;
    background: linear-gradient(175deg, rgba(247,223,17,1) 0%, rgba(255,0,157,1) 100%);
    -webkit-background-clip: text; /* Chrome, Safari, Edge */
    -webkit-text-fill-color: transparent; /* Chrome, Safari, Edge */
    background-clip: text; /* Standard for Firefox */
    text-fill-color: transparent; /* Optional fallback for non-webkit browsers */
    color: transparent; /* Ensures text doesn't render fallback color */
  }
}

.hero {
  background: url("/assets/images/hero-bg-mob.webp") no-repeat center top/cover;
  background-attachment: fixed;
  height: 95dvh;
}
.topShade::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;
  background: linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
}
.swiper-button-prev::after, .swiper-rtl .swiper-button-next::after,
.swiper-button-next::after, .swiper-rtl .swiper-button-prev::after {
  content: "" !important;
}
.swiper {
  padding: 0 15% !important;
}
.letter-shadow {
  text-shadow: 2px 2px 4px #000;
  display: inline-block;
}
.mmm::after {
  position: absolute;
  content: "";
  --tw-bg-opacity: 1;
  background-color: rgb(37 34 35 / var(--tw-bg-opacity, 1));
  width: 100vw;
  height: 50vh;
  bottom: 0;
  left: 0;
}

@media (max-width: 320px) {
  .mmmCoinBg {
    bottom: 35rem;
    right: -4rem;
  }
  .mmmCoin {
    right: 1rem;
  }
}
@media (max-width: 375px) {
  .GigaChadCharBg {
    top: 11px;
  }
  .ponkeCharMobBg {
    top: 2rem;
  }
  .ponkeCharMob {
    left: -3rem;
    top: 3rem;
  }
  .footerBgMobImg {
    top: -14rem;
  }
}
@media (min-width: 384px) and (max-width: 390px) {
  .ponkeCharMobBg {
    top: 1rem;
  }
  .ponkeCharMob {
    left: -3rem;
    top: 3rem;
  }
}
@media (min-width: 376px) and (max-width: 411px) {
  .GigaChadChar {
    top: -45px;
  }
  .mmmCoin {
    right: 3rem;
  }
}
@media (min-width: 412px) and (max-width: 430px) {
  .mmmCoin {
    right: 4rem;
  }
  .mmmCoinBg {
    bottom: 31rem;
  }
}
@media (min-width: 428px) and (max-width: 430px) {
  .GigaChadChar {
    top: 0;
  }
}
@media (max-width: 411px) {
  .flowChart {
    top: 2rem;
    left: 0.5rem;
  }
}
@media (max-width: 768px) {
  .swiper {
    padding: 0 15% 0 5% !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .flowChart {
    left: 0.5rem;
  }
}
@media (max-width: 1023px) {
  .mmm .container {
    --tw-bg-opacity: 1;
    background-color: rgb(37 34 35 / var(--tw-bg-opacity, 1));
  }
}
@media (min-width: 1024px) and (max-width: 1025px) {
  .flowChart {
    top: 1rem !important;
    left: 0 !important;
  }
  .screenShots .top-bottom-bg img:first-child {
    top: -2rem;
  }
  .screenShots .top-bottom-bg img:last-child {
    bottom: -2rem;
  }
}
@media (min-width: 1024px) {
  .hero {
    background: url("/assets/images/hero-bg.webp") no-repeat center center/cover;
    background-attachment: fixed;
    height: 100dvh;
  }
}
@media (min-width: 1024px) and (max-width: 1365px) {
  .howItWorksBgDesktop {
    min-width: 145vw;
  }
}
@media (min-width: 1366px) and (max-width: 1439px) {
  .howItWorksBgDesktop {
    min-width: 110vw;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .dogeSectionBgBig {
    width: 180vw;
    min-width: 180vw;
    top: -5rem;
  }
 
}
@media (min-width: 768px) and (max-height: 1440px) {
  .hero {
    min-height: 100dvh;
    height: 100dvh;
  }
}
@media (min-width: 900px) and (max-width: 910px) {
  .GigaChad-container {
    left: -52% !important;
  }
}
@media (min-width: 900px) and (max-width: 1023px) {
  .howItWorks  {
    overflow: hidden;
  }
}
@media (min-width: 1440px) {
  .howItWorksBgDesktop {
    min-width: 101vw;
  }
}
